<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuarios</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style_register.css" type="text/css" />
</head>
    <body>
        <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5TYxeKO01nf5Qf9w5x1uaQjjLhS5Y_tcsBw&s" class="card-img" alt="Registrar Usuario">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title text-center">Registrar Usuario</h5>
                                <form>
                                    <div class="form-group">
                                        <label for="">Documento</label>
                                        <input type="number" class="form-control" id="documento" name='documento' placeholder="Ingrese su correo documento">
                                        <label for="nombres">Registrar Nombres</label>
                                        <input type="text" class="form-control" id="nombres" name='nombres' placeholder="Ingrese sus nombres">
                                        <label for="apellidos">Registrar Apellidos</label>
                                        <input type="text" class="form-control" id="apellidos" name='apellidos' placeholder="Ingrese sus apellidos">
                                        <label for="correo">Correo</label>
                                        <input type="email" class="form-control" id="correo" name='correo' placeholder="Ingrese su correo">
                                        <label for="edad">Edad</label>
                                        <input type="number" class="form-control" id="edad" name='edad' placeholder="Ingrese su edad">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
